/* BEGIN: general */
body {
    margin: 0;
    padding: 5px;
    background-color: #1E1E1E;
    color: #C0C0C0;
}

a {
    color: #4183C4;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    color: #E2E2E2;
    border-color: #343434;
    border-style: none none solid none;
    padding-bottom: 2px;
}

h2 {
    font-size: 24px;
    color: #E2E2E2;
    border-color: #343434;
    border-style: none none solid none;
}

h3 {
    font-size: 20px;
    color: #E2E2E2;
    border-color: #343434;
    border-style: none none solid none;
}

code {
    color: #D6A945;
    padding: 0.2em;
    background-color: #222328;
    border-radius: 5px;
}

pre code {
    display: inline-block;
    margin-left: 1em;
    padding: 1em;
}

blockquote, q {
    quotes: none;
    margin-left: 0.8em;
    padding: 0.2em;
    padding-left: 1em;
    border-left: 0.3em solid #005A61;
    background-color: rgba(81, 177, 177, 0.1);
}

table {
    text-align: left;
}

table, th, td {
    border: 1px solid #343434;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

.hidden {
    color: transparent;
}

.hidden:hover {
    color: #C0C0C0;
}
/* END: general */

/* BEGIN: nav */
nav {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    max-width: 1024px;
    text-align: center;
}

nav a {
    display: inline-block;

    /* Seules la couleur du texte et les dimensions
    de nos paragraphes auront une transition. */
    transition-property: background-color;

    /* La transition durera trois secondes. */
    transition-duration: 0.3s;

    margin-left: 1px;
    list-style-type: none;
    padding: 11px;
    border: 1px solid #343434;
    background-color: #181818;
    font-weight: bold;
}

nav a:hover {
    background-color: #222222;
}
/* END: nav */

/* BEGIN: section */
section {
    border: 1px solid #343434;
    border-radius: 10px;
    background-color: #202020;
    margin-left: auto;
    margin-right: auto;
    min-height: 720px;
    min-width: 640px;
    max-width: 1024px;
}

section a:visited {
    color: #5089C0;
}

section article {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: #181818;
}

section article img {
    max-width: 100%;
}
/* END: section */

/* BEGIN: footer */
footer {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    min-width: 640px;
    max-width: 1024px;
    background-color: rgba(0, 75, 102, 0.1);
    border: solid 1px #344C55;
    border-radius: 8px;
}

footer p {
    margin-left: 5px;
    margin-right: 5px;
}
/* END: footer */

/* BEGIN: programming category */
.programming pre code {
    border-style: none none none groove;
    border-width: 5px;
    border-color: #282a2f;
    border-radius: 0px 10px 10px 0px;
    counter-reset: line;
}
/*END: programming category */

