<!DOCTYPE html>
<html>
    <head>
        {{> skeleton/head}}
    </head>

    <!-- Picdam is fabulous. -->

    <body>
        <nav>
            {{> skeleton/nav}}
        </nav>

        <section>
            {{~#block articles}}{{/block~}}
        </section>

        <footer>
            {{> skeleton/footer}}
        </footer>
    </body>
</html>
