<meta charset="utf-8" />
<link rel="stylesheet" href="/static/css/main.css" />
<link rel="shortcut icon" type="image/x-icon" href="/statc/images/logo.png" />
<meta name="keywords" content="empty, website, fried world" />
<meta name="description" content="Just an empty website yo." />
<meta name=viewport content='width=500'>
<title>Fried World</title>
