<a href="/">Home</a>
<a href="/blog">Blog</a>
<a href="/about">About</a>
<a href="/friends">Friends</a>
<a href="/git">Git</a>
<a href="/japanese">Japanese</a>
<a href="/programming">Programming</a>
<a href="https://github.com/CBenoit">GitHub</a>
